<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                 <rule name="let api requests through"    stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="api(.*)$"/>
                    </conditions>
                    <action type="Rewrite" url="{REQUEST_URI}" appendQueryString="true" />
                </rule>
                <rule name="redirect to ui" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}"/>
                    </conditions>
                    <action type="Rewrite" url="index.html" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>